@media screen and (max-width: 768px) {
	aside{
		width: 100%;
		margin-bottom: 15px;
	}
	article{
		width: 100%;
	}

	.articulo{
		width: 100%;
		padding: 20px;
		padding-top: 0;
	}

	.wrapp{
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		min-width: 300px;
	}



}